 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->


    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">

          <div class="col-sm-6">

          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>50</h3>

                <p>Sanitetskih vozila</p>
              </div>
              <div class="icon">
                <i class="fas fa-ambulance"></i>
              </div>

            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>10</h3>

                <p>Objekata</p>
              </div>
              <div class="icon">
                <i class="fas fa-hospital-alt"></i>
              </div>

            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>57000+</h3>

                <p>Zadovoljnih korisnika</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>

            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>80</h3>

                <p>Ambulantnog osoblja</p>
              </div>
              <div class="icon">
                <i class="fas fa-user-md"></i>
              </div>

            </div>
          </div>

        </div>

        <div class="row">

        </div>
        <!-- /.row (main row) -->
      </div>


    </section>

   <section class="wrapper">
    <div class="container-fostrap">
        <div style="margin-bottom: 30px;">

            <h1 class="heading">
              <a [routerLink]="['/novosti']" style="color: grey">Novosti</a>
            </h1>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div *ngFor="let nov of novosti.slice(0, 3)" class="col-xs-12 col-sm-4">
                        <div class="card">
                            <img class="img-card" src="data:image/jpeg;base64,{{nov.slika}}" />

                            <div class="card-content" style="height: 100px;">
                                <h4 class="card-title" style="float: left; width: 100%;">
                                  {{nov.naziv}}
                                </h4>
                                <p class="" style="float: left; width: 100%;">
                                  {{nov.opis}}
                                </p>
                            </div>
                            <div class="card-read-more" style="height: 50px;">
                                <a routerLink="/novosti" class="btn btn-link btn-block">
                                    Saznajte više
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  </div>
  <!-- /.content-wrapper -->
